USE [master]
GO
/****** Object:  Database [_DB_DEPORTEX]    Script Date: 17/9/2018 12:06:29 p. m. ******/
CREATE DATABASE [_DB_DEPORTEX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'_DB_DEPORTEX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\_DB_DEPORTEX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'_DB_DEPORTEX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\_DB_DEPORTEX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [_DB_DEPORTEX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [_DB_DEPORTEX]
GO
USE [_DB_DEPORTEX]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 17/9/2018 12:06:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[cod_articulo] [nchar](10) NOT NULL,
	[id_marca] [int] NOT NULL,
	[nombre] [nchar](50) NOT NULL,
	[precio] [int] NOT NULL,
	[proveedor] [int] NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[cod_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 17/9/2018 12:06:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[cuil_cliente] [int] NOT NULL,
	[nombre] [nchar](50) NOT NULL,
	[apellido] [nchar](50) NOT NULL,
	[fecha_nac] [date] NOT NULL,
	[calle] [nchar](50) NOT NULL,
	[numero] [int] NOT NULL,
	[email] [nchar](50) NOT NULL,
	[nroTarjetaBeneficio] [int] NOT NULL,
	[telefono] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[cuil_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 17/9/2018 12:06:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[nro_factura] [int] NOT NULL,
	[tipofactura] [int] NOT NULL,
	[orden] [int] NOT NULL,
	[cod_articulo] [nchar](10) NOT NULL,
	[precio] [int] NOT NULL,
 CONSTRAINT [PK_DetalleFactura] PRIMARY KEY CLUSTERED 
(
	[nro_factura] ASC,
	[tipofactura] ASC,
	[orden] ASC,
	[cod_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleRemito]    Script Date: 17/9/2018 12:06:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleRemito](
	[nro_remito] [int] NOT NULL,
	[cod_articulo] [nchar](10) NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_DetalleRemito] PRIMARY KEY CLUSTERED 
(
	[nro_remito] ASC,
	[cod_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 17/9/2018 12:06:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[nro_factura] [int] NOT NULL,
	[tipo_factura] [int] NOT NULL,
	[fecha_venta] [date] NOT NULL,
	[nro_cliente] [int] NOT NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[nro_factura] ASC,
	[tipo_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 17/9/2018 12:06:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[id_marca] [int] NOT NULL,
	[nombre] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 17/9/2018 12:06:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[cuil_proveedor] [int] NOT NULL,
	[razonSocial] [nchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[cuil_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remitos]    Script Date: 17/9/2018 12:06:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remitos](
	[nro_remito] [int] NOT NULL,
	[fecha_remito] [date] NOT NULL,
 CONSTRAINT [PK_Remitos] PRIMARY KEY CLUSTERED 
(
	[nro_remito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoFactura]    Script Date: 17/9/2018 12:06:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoFactura](
	[tipoFactura] [int] NOT NULL,
	[nombre] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TipoFactura] PRIMARY KEY CLUSTERED 
(
	[tipoFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Marcas] FOREIGN KEY([id_marca])
REFERENCES [dbo].[Marcas] ([id_marca])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Marcas]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD  CONSTRAINT [FK_Articulos_Proveedores] FOREIGN KEY([proveedor])
REFERENCES [dbo].[Proveedores] ([cuil_proveedor])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [FK_Articulos_Proveedores]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Articulos] FOREIGN KEY([cod_articulo])
REFERENCES [dbo].[Articulos] ([cod_articulo])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Articulos]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Facturas] FOREIGN KEY([nro_factura], [tipofactura])
REFERENCES [dbo].[Facturas] ([nro_factura], [tipo_factura])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Facturas]
GO
ALTER TABLE [dbo].[DetalleRemito]  WITH CHECK ADD  CONSTRAINT [FK_DetalleRemito_Articulos] FOREIGN KEY([cod_articulo])
REFERENCES [dbo].[Articulos] ([cod_articulo])
GO
ALTER TABLE [dbo].[DetalleRemito] CHECK CONSTRAINT [FK_DetalleRemito_Articulos]
GO
ALTER TABLE [dbo].[DetalleRemito]  WITH CHECK ADD  CONSTRAINT [FK_DetalleRemito_Remitos] FOREIGN KEY([nro_remito])
REFERENCES [dbo].[Remitos] ([nro_remito])
GO
ALTER TABLE [dbo].[DetalleRemito] CHECK CONSTRAINT [FK_DetalleRemito_Remitos]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([nro_cliente])
REFERENCES [dbo].[Clientes] ([cuil_cliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_TipoFactura] FOREIGN KEY([tipo_factura])
REFERENCES [dbo].[TipoFactura] ([tipoFactura])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_TipoFactura]
GO
USE [master]
GO
